* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color-scheme: light;
}

.app {
	max-width: 1440px;
	margin-inline: auto;
	width: 100%;
	padding-top: 20px;
	padding-inline: 20px;

	.app__input {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;

		input,
		button {
			padding: 5px;
		}
	}

	.app__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;

		div {
			display: grid;
			grid-template-columns: auto 100px 100px;
		}
	}
}
